.user-details .input-box textarea {
 
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.bar {
  width: 200px;
}
.contenttt .form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  max-height: 430px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    
}
@media(max-width: 584px){
  .form-container{
   max-width: 100%;
 }
 .form .user-details .input-box{
     margin-bottom: 15px;
     width: 100%;
   }
   .form .category{
     width: 100%;
   }
   .contenttt .form .user-details{
     max-height: 300px;
     overflow-y: scroll;
   }
   .user-details::-webkit-scrollbar{
     width: 5px;
   }
   }
   @media(max-width: 459px){
   .form-container .contenttt .category{
     flex-direction: column;
   }
 }
 .work-select{
  color:#1F618D ;
  font-weight: 500;
  margin-top: 30px;
 
  

 }
 .sentence{
  color:#1F618D ;
  font-weight: 500;
  padding-top: 20px;
 }
 #selected option{
 
  border-color: transparent;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  
 }
 #selected {
  background: linear-gradient(135deg, #e0f1fc, #e3e7ea);

   border-color: transparent;
   margin-left: 20px;
   padding: 6px;
   border-color: transparent;
   border-radius: 3px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
 } 

/* Link Style 1 */
.link1 a {
    border-bottom: .05em solid #b4e7f8;
    box-shadow: inset 0 -0.05em 0 #b4e7f8;
    color: inherit;
    transition: background-color .25s cubic-bezier(.33, .66, .66, 1);
		text-decoration: none;
    color:#1F618D;
    font-weight: 500;
}

.link1 a:hover, .link1 a:focus, .link1 a:active {
    background-color: #b4e7f8;
}

.link1{
  margin-top: 40px;
}
.link1 span{
  color:  rgb(43, 43, 43);
  padding-right: 20px;
}
.publish{
  margin:35px 0;
}

