/*slider*/
section.bodySection {
  position: relative;
  top: 80PX;
  background: linear-gradient( white, #f3f5f8 , #f3f5f7);
 
  HEIGHT: 730PX;
  padding: 0;
  
  
}
.carousel {
  position: relative;
  HEIGHT: 550PX;
  width: 80%;
  margin-left: 10%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
img.d-block.w-100 {
  HEIGHT: 550PX;
  padding: 0;
}
.carousel-caption.d-none.d-md-block {
 
  font-size: 1rem;
  font-weight: bolder;
  font-style: italic;
  
}
.FirstCaption , .FifthCaption{
  position: relative;
  bottom: 25vh;
  color: #cfdae1;
  width: 80%;
 
}
.SecondCaption{
  position: relative;

  background-color: rgba(249, 251, 252,.3);
  bottom: 3VW;
  color: rgb(37, 35, 60);
  width: 90%;
  left: 10vh;   
}
.ThirdCaption{
  position: absolute;
  background-color: rgba(249, 251, 252,.3);
  bottom: 1.5vh;
  color:rgb(34, 34, 32) ;
 
  width: 90%;
}
.FourthCaption{
  position: absolute;
  background-color: rgba(249, 251, 252,.4);
  color: rgb(76, 6, 43);
 bottom: 2VW;
  width: 90%;
  
}
.FifthCaption{
  color: rgb(78, 78, 132);
  font-size: larger;
}
.button-announcement{
  
  height: 10VH;
  width: 15%;
  margin-top: 1%;
  position: relative;
  left: 40%;
  text-align: center;
  border-radius: 5px;
  
}
.Annonce{
  text-decoration: none;
  color: #1F618D;
  background-color:#e8eef3;
  border: 1px solid #1F618D;
  border-radius: 15PX;
  padding: 15PX;
  position: absolute;
  top: 6%;
  left: 6%;
  font-size: larger;
  font-weight: bold;
}
.Annonce:hover{
  background: linear-gradient(135deg, #71b7e6, #1F618D);
  color: rgb(227, 223, 223);
}


/*cards*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
}
.container-card {
  width: 100%;
  margin-top: 100PX;
  height: 500PX;
  margin-bottom: 30PX;
}

.cards-container {
  display: flex;
  border-radius: 6px;
  color: #333;
  background: #eee;
  padding: 1rem;
  box-shadow: 0 0 1rem rgb(218, 215, 215) inset;
  overflow-x: auto;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}
.Img{
  height: 100%;
  width: 100%;

}

.Title{
  margin-left: 5%;
  color: #1F618D;
  font-size: 4VH;
  padding: 5PX;
  border: 1PX solid #1F618D;
  width: 40%;
  text-align: center;
  background-color: #f6f8f9;
}

.card {
  flex: 1 0 250px;
  align-items: center;
  box-shadow: 0 0 1rem rgb(226, 223, 223) inset;
  background: #fff;
  margin: 1rem;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;

img {
    width: 250px;
    height: 250px;
    object-fit: center;

} 
 &:hover {
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
}
}


.card-content {
  padding: 1rem;
  text-align: center;
 
  height: 60%;
  width: 100%;
}



.Name{
  
  font-size: 1.8vH;
  padding: 1%;
  margin: 3%;
}
.price{
  font-size: 1.7VH;
}
.Details{
  color: #1F618D;
  text-decoration: none;
  width: 100%;
 
  padding: 1VH;
  }
.hiddenButton:hover{
  background: linear-gradient(135deg, #71b7e6, #1F618D);

}
.Details:hover{
  color: rgb(227, 223, 223);
}
.hiddenButton{
  border-radius: 10PX;
  border: 1px solid #1F618D;
  padding: 1VH;
  background-color:  #e8eef3;
  }
@media screen and (max-width: 625px) {
  .container {
    width: 100%
}
  
  .cards-container {
    padding: .5rem;
  }
  
  .card {
    margin: .5rem;
  }
}


/*commentaire*/

$dark-grey: #404040;
$nc-blue: #00BDFC;
$nc-bl-dark: #0093C4;
$red: #FC3F00;

body {
  font-family: 'PT Sans', sans-serif;
  
}
.buttonComment {
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em; // 12px/16px
  display: inline-block;
  text-decoration: none;
  color: #1F618D;
    background-color: #f6f8f9;
    border: 1PX solid #1F618D;
  
  &:hover {
    background: linear-gradient(135deg, #71b7e6, #1F618D);
    color: rgb(227, 223, 223);
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
}
@media (min-width:1000PX) {
    .comment-box{
        width: 50%;
    }
    
}
@media (max-width:999PX) {
    .comment-box{
        width: 80%;
    }
    
}
.comment-box {
  box-shadow: rgba(224, 219, 219, 0.1) 0px 1px 1px 0px inset, rgba(123, 123, 149, 0.25) 0px 50px 100px -20px, rgba(148, 144, 144, 0.3) 0px 30px 60px -30px;
  color: #fff;
  background-color: #e6ebef;
  padding: 0.7rem 1.4rem 2.5rem;
}
.comment-box > h2, h3,h4{
    color: #1F618D;
}
.comment-form {
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem;  
}
.comment-form-fields {
  margin-bottom: 0.25rem;
  input, textarea {
    border: none;
    border-bottom: 1px solid $dark-grey;
    font-size: 0.85rem;
    padding: 0.25rem 0;
    width: 99%;
    
    &:focus {
      border-bottom-color: $nc-blue;
      outline: none;
    }
  }
  textarea {
    font-style: italic;
  }
}

.comment-count {
  color: $dark-grey;
}
#comment-reveal {
  float: right;
  color: #1F618D;
    background-color: #f6f8f9;
    border: 1PX solid #1F618D;
    padding: 2%;
    border-radius: .25REM;
    font-size: 0.75rem;
  font-weight: bold;
  
}
#comment-reveal:hover{
  background: linear-gradient(135deg, #71b7e6, #1F618D);
  color: rgb(227, 223, 223);
}
.comment {
  border-top: 0.125rem solid $dark-grey;
}
.comment-body {
  font-style: italic;
  margin-left: 1rem;
  color: #173f5a;
}
.comment-header{
  color: #173f5a;
}
.comment-footer {
  margin-bottom: 1rem;
}
.comment-footer-delete {
  padding: 0.2rem 0;
  color: $dark-grey;
  text-decoration: none;
  
  &:hover {
    color: $nc-blue;
    font-weight: bold;
  }
}

