.searchInput {
   
        z-index:1;
        width:33vw;
        border-radius: 10PX;
        padding: 10px 5px;
        border: 1px solid #1F618D;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
}

.searchInput:focus {
  border: 1px solid #668ca8;
}

.searchList {
      margin: 0;
      padding: 0;
     
     
     
}
.SearchContainer {
  position: fixed;
  top: 65PX;
  width: 33%;

}
.searchItem {
        text-align: left;
        font-size: 1REM;
        padding: 10px 10px;
        margin-bottom: 1PX;

        width: 100%;
        border-radius: 10PX;
        
        background-color: white;
        border: 1px solid #1F618D;
        list-style: none;
}
.SearchLinks{
  text-decoration: none;
  color: #1F618D;
  padding-top: 10PX;
  padding-left: 10PX;
}
.SearchLinks:hover{
  color:#668ca8;
}
.ImageContainerSearch{
  width: 60%;
 display: flex;


}
.SearchImage{
 width: 20%;
 height: 3REM;
 border-radius: 50%;
}
.fa-search{
  position: relative;
  right: 30PX;
  z-index: 2;
}
@media (max-width: 993px){
  .SearchContainer {
    top: 73PX;
  }
  .ImageContainerSearch{
    width: 100%;
   
  
  
  }
  .SearchImage{
   width: 20%;
   height: 2REM;
   border-radius: 50%;
  }
  .searchItem {
   padding: 5PX;
    font-size: .7REM;
  }
  .SearchLinks{
  padding-top: 5px;
  }
}
    