.html {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.Loader {
	width: 5rem;
	height: 5rem;
	background-color: #1F618D;
	border-radius: 5rem;
	position: relative;
	transform: rotate(0deg);
	animation: spinning 1s linear infinite;

	&::before {
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: white;
		border-radius: 100%;
		transform: translate(0.3rem);
	}
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	0% {
		transform: rotate(-360deg);
	}
}
